<div class="col-md">
    <div class="card card-light mb-3 mb-md-0">
        <div class="card-body match-height">
            <article class="post">
                <div class="post-thumbnail">
                    <img src="{{ site.baseurl }}{{ post.image }}" alt="{{ post .title }}" />
                </div>
                <h5 class="text-center font-weight-medium">
                    <a href="{{ site.baseurl }}{{ post.url }}" class="post-title">{{ post.title }}</a>
                </h5>
                <div class="post-entry">
                    {{ post.excerpt | strip_html }}
                </div>
            </article>
        </div>
    </div>
</div>