<header class="site-header">
    <div class="site-header-content">
        <div class="logo">
            <a href="/" alt="Homepage"><img src="/img/{{ site.logo }}" class="logo" /></a>
        </div>
        <ul class="nav-menu" id="header-nav">
            <li class="selected"><a href="/" title="{{ site.title }}">Home</a></li>
            <li><a href="/documentation" title="Documentation">Documentation</a></li>
            <li><a href="/resources" title="Resources">Resources</a></li>
            <li><a href="/blog" title="Blog Posts">Blog</a></li>
            <li><a href="/community" title="Community">Community</a></li>
        </ul>
        <div class="nav-mobile-link">
            <a href="javascript:void(0);" id="nav-mobile-toggle"></a>
        </div>
    </div>
</header>